<%- include('./partials/header') %>

<section class="export-result">
  <div class="panel">
    <h3>Xuất thuốc thành công và đã giao cho bệnh nhân!</h3>
    <button onclick="location.href='/'">OK</button>
  </div>
</section>

<%- include('./partials/footer') %>
